<!DOCTYPE html>
<html>
<head>
  <title>TestApp</title>
  <link rel="stylesheet" type="text/css" href="csscode.css" />
</head>
<body>

<h1>
    Hello This is the home page
</h1>

<%= link_to 'About', about_path %>

</body>
</html>
